<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="container">
      <nav class="navbar" style="background-color: rgb(233, 244, 255) !important;">
        <div class="container-fluid d-flex justify-content-between align-items-center">

          <div class="d-flex align-items-center gap-3">
            <%# root_path %>
            <a class="navbar-brand" href="<%= root_path %>">Блог</a>
            <%# posts_path %>
            <a class="nav-link text-decoration-underline" href="<%= posts_path %>">Все статьи</a>

            <% Category.order(:name).roots.each do |category| %>
              <%= link_to category.name, category_path(category), class: "nav-link text-primary#{' active' if current_page?(category_path(category))}" %>
            <% end %>

          </div>

          <ul class="navbar-nav d-flex flex-row gap-3 ms-auto">

            <%# Классическая система регистрации %>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "nav-link text-danger" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Вход", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Регистрация", new_user_registration_path, class: "nav-link" %>
              </li>
            <% end %>

            <%# Локализация %>
            <li class="nav-item">
              <%= link_to "Рус", { locale: :ru }, class: "nav-link#{' active' if I18n.locale == :ru}" %>
            </li>
            <li class="nav-item d-flex align-items-center px-2 text-muted">|</li>
            <li class="nav-item">
              <%= link_to "Eng", { locale: :en }, class: "nav-link#{' active' if I18n.locale == :en}" %>
            </li>

          </ul>

        </div>
      </nav>
    </div>

    <div class="container main">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message| %>
            <div class="alert <%= bootstrap_class_for(name) %>">
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <%= yield %>
          <%= javascript_include_tag "AOS/aos.js" %>
        </div>
        <div class="col-md-3">
          <%= render "shared/submenu" %>
          <div class="tag_cloud">
            <h2 class="mb-2">Теги</h2>
            <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag, css_class| %>
              <%= link_to tag.name, tag_path(tag.name), class: css_class %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <script>
      AOS.init({
        duration: 1200, // Время анимации в мс
        once: true // Только один раз проигрывать при скролле
      });
    </script>

  </body>
</html>